<!-- views/pages/alliance.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <!-- <main style="-moz-column-count:3; -moz-column-rule:solid; -webkit-column-count:3; -webkit-column-rule:solid;  margin-top: 60px;"> -->
  <main style="margin-top: 60px;">
    <div class="row">
      <div id="team1" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_1 %> - <%= team_name_1 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_1 %> / <%= avg_contrib_kpa_1 %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">No Auto: <%= no_autos_1 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Cross: <%= tot_baseline_cross_1 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_auto_high_made_1 %> / <%= avg_auto_high_attempts_1 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_1 %> / <%= avg_auto_low_attempts_1 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_auto_gears_scored_1 %> / <%= avg_auto_gears_attempts_1 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_1 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_auto_floor_gear_intake_1 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_auto_floor_ball_intake_1 %></h6></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_tele_high_made_1 %> / <%= avg_tele_high_attempts_1 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_1 %> / <%= avg_tele_low_attempts_1 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_1 %> / <%= avg_tele_gears_attempts_1 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_1 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_1 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_1 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_1 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">HP Ball Intake: <%= avg_hp_ball_intake_1 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_1 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Gear Knockouts: <%= avg_tele_gear_knockouts_1 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Deads: <%= tot_deads_1 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Fouls: <%= tot_fouls_1 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Cycles: <%= avg_num_cycles_1 %> / <%= avg_cycle_time_1 %>sec</h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Climb: <%= tot_climb_1 %> / <%= tot_climb_attempts_1 %></h6></td>
              </tr>
            </table>
          </div>
    		</div>
      </div>

  		<div id="team2" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_2 %> - <%= team_name_2 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_2 %> / <%= avg_contrib_kpa_2 %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">No Auto: <%= no_autos_2 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Cross: <%= tot_baseline_cross_2 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_auto_high_made_2 %> / <%= avg_auto_high_attempts_2 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_2 %> / <%= avg_auto_low_attempts_2 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_auto_gears_scored_2 %> / <%= avg_auto_gears_attempts_2 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_2 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_auto_floor_gear_intake_2 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_auto_floor_ball_intake_2 %></h6></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_tele_high_made_2 %> / <%= avg_tele_high_attempts_2 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_2 %> / <%= avg_tele_low_attempts_2 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_2 %> / <%= avg_tele_gears_attempts_2 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_2 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_2 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_2 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_2 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">HP Ball Intake: <%= avg_hp_ball_intake_2 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_2 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Gear Knockouts: <%= avg_tele_gear_knockouts_2 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Deads: <%= tot_deads_2 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Fouls: <%= tot_fouls_2 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Cycles: <%= avg_num_cycles_2 %> / <%= avg_cycle_time_2 %>sec</h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Climb: <%= tot_climb_2 %> / <%= tot_climb_attempts_2 %></h6></td>
              </tr>
            </table>
          </div>
        </div>
  		</div>

  		<div id="team3" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_3 %> - <%= team_name_3 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_3 %> / <%= avg_contrib_kpa_3 %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">No Auto: <%= no_autos_3 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Cross: <%= tot_baseline_cross_3 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_auto_high_made_3 %> / <%= avg_auto_high_attempts_3 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_3 %> / <%= avg_auto_low_attempts_3 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_auto_gears_scored_3 %> / <%= avg_auto_gears_attempts_3 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_3 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_auto_floor_gear_intake_3 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_auto_floor_ball_intake_3 %></h6></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_tele_high_made_3 %> / <%= avg_tele_high_attempts_3 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_3 %> / <%= avg_tele_low_attempts_3 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_3 %> / <%= avg_tele_gears_attempts_3 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_3 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_3 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_3 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_3 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">HP Ball Intake: <%= avg_hp_ball_intake_3 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_3 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Gear Knockouts: <%= avg_tele_gear_knockouts_3 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Deads: <%= tot_deads_3 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Fouls: <%= tot_fouls_3 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Cycles: <%= avg_num_cycles_3 %> / <%= avg_cycle_time_3 %>sec</h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Climb: <%= tot_climb_3 %> / <%= tot_climb_attempts_3 %></h6></td>
              </tr>
            </table>
          </div>
        </div>
  		</div>
    </div>

    <div class="row">
      <% if(team_num_4 != 0) { %>
      <div id="team4" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_4 %> - <%= team_name_4 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_4 %> / <%= avg_contrib_kpa_4 %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">No Auto: <%= no_autos_4 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Cross: <%= tot_baseline_cross_4 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_auto_high_made_4 %> / <%= avg_auto_high_attempts_4 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_4 %> / <%= avg_auto_low_attempts_4 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_auto_gears_scored_4 %> / <%= avg_auto_gears_attempts_4 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_4 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_auto_floor_gear_intake_4 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_auto_floor_ball_intake_4 %></h6></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_tele_high_made_4 %> / <%= avg_tele_high_attempts_4 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_4 %> / <%= avg_tele_low_attempts_4 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_4 %> / <%= avg_tele_gears_attempts_4 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_4 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_4 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_4 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_4 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">HP Ball Intake: <%= avg_hp_ball_intake_4 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_4 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Gear Knockouts: <%= avg_tele_gear_knockouts_4 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Deads: <%= tot_deads_4 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Fouls: <%= tot_fouls_4 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Cycles: <%= avg_num_cycles_4 %> / <%= avg_cycle_time_4 %>sec</h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Climb: <%= tot_climb_4 %> / <%= tot_climb_attempts_4 %></h6></td>
              </tr>
            </table>
          </div>
    		</div>
      </div>
      <% } %>

      <% if(team_num_5 != 0) { %>
  		<div id="team5" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_5 %> - <%= team_name_5 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_5 %> / <%= avg_contrib_kpa_5 %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">No Auto: <%= no_autos_5 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Cross: <%= tot_baseline_cross_5 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_auto_high_made_5 %> / <%= avg_auto_high_attempts_5 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_5 %> / <%= avg_auto_low_attempts_5 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_auto_gears_scored_5 %> / <%= avg_auto_gears_attempts_5 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_5 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_auto_floor_gear_intake_5 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_auto_floor_ball_intake_5 %></h6></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_tele_high_made_5 %> / <%= avg_tele_high_attempts_5 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_5 %> / <%= avg_tele_low_attempts_5 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_5 %> / <%= avg_tele_gears_attempts_5 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_5 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_5 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_5 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_5 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">HP Ball Intake: <%= avg_hp_ball_intake_5 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_5 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Gear Knockouts: <%= avg_tele_gear_knockouts_5 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Deads: <%= tot_deads_5 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Fouls: <%= tot_fouls_5 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Cycles: <%= avg_num_cycles_5 %> / <%= avg_cycle_time_5 %>sec</h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Climb: <%= tot_climb_5 %> / <%= tot_climb_attempts_5 %></h6></td>
              </tr>
            </table>
          </div>
        </div>
  		</div>
      <% } %>

      <% if(team_num_6 != 0) { %>
  		<div id="team6" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_6 %> - <%= team_name_6 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_6 %> / <%= avg_contrib_kpa_6 %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">No Auto: <%= no_autos_6 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Cross: <%= tot_baseline_cross_6 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_auto_high_made_6 %> / <%= avg_auto_high_attempts_6 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_6 %> / <%= avg_auto_low_attempts_6 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_auto_gears_scored_6 %> / <%= avg_auto_gears_attempts_6 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_6 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_auto_floor_gear_intake_6 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_auto_floor_ball_intake_6 %></h6></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h6 style="margin-top:0;">High Goals: <%= avg_tele_high_made_6 %> / <%= avg_tele_high_attempts_6 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_6 %> / <%= avg_tele_low_attempts_6 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_6 %> / <%= avg_tele_gears_attempts_6 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_6 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_6 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_6 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_6 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">HP Ball Intake: <%= avg_hp_ball_intake_6 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_6 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Gear Knockouts: <%= avg_tele_gear_knockouts_6 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Deads: <%= tot_deads_6 %></h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Fouls: <%= tot_fouls_6 %></h6></td>
              </tr>
              <tr>
                <td><h6 style="margin-top:0;">Cycles: <%= avg_num_cycles_6 %> / <%= avg_cycle_time_6 %>sec</h6></td>
                <td style="text-align:right; padding-right:50px;"><h6 style="margin-top:0;">Climb: <%= tot_climb_6 %> / <%= tot_climb_attempts_6 %></h6></td>
              </tr>
            </table>
          </div>
        </div>
  		</div>
      <% } %>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <form id="export_db" method="get" action="/alliance-ppt/<%= team_num_1 %>,<%= team_num_2 %>,<%= team_num_3 %>,<%= team_num_4 %>,<%= team_num_5 %>,<%= team_num_6 %>">
          <div class="form-group">
            <div class="row">
              <div style="padding-top:15px;" align="center">
                <input type="submit" class="btn btn-success" value="Download Sheet" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <!-- <body>
    <div class="row">
      <div class="col-lg-12">
        <form id="export_db" method="get" action="/alliance-ppt/<%= team_num_1 %>,<%= team_num_2 %>,<%= team_num_3 %>">
          <div class="form-group">
            <div class="row">
              <div style="padding-top:15px;" align="center">
                <input type="submit" class="btn btn-success" value="Download Sheet" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body> -->

	<footer>
    <hr />
    <% include ../partials/footer %>
  </footer>
</body>
</html>
